:root {
  --shinonome: linear-gradient(91deg, #6f5878 0.02%, #4f648d);
  --blue_Kashmir: #52648c;
  --gray: #535353;
  --ivory: #fffcf7;
  --purple_Kimberly: #6b5b7d;
  --gray-50: rgba(83, 83, 83, 0.5);

  --font_70: 70px;
  --font_60: 60px;
  --font_48: 48px;
  --font_40: 40px;
  --font_36: 36px;
  --font_32: 32px;
  --font_28: 28px;
  --font_24: 24px;
  --font_22: 22px;
  --font_20: 20px;
  --font_18: 18px;
  --font_16: 16px;
  --font_14: 14px;
  --font_12: 12px;

  --noto: "Noto Sans JP", sans-serif;
  --anton: "Anton", serif;
  --ubuntu: "Ubuntu", serif;
  --jomolhari: "Jomolhari", serif;
  --times-new-roman: "Tinos", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--noto);
  min-height: 100vh;
  background-color: var(--ivory);
  padding-bottom: 100px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 160px;
  background-color: var(--ivory);
  margin-bottom: 160px;
}

.page-header {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ivory);
}

.will-logo {
  flex-shrink: 0;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-wrapper {
  display: none;
}

.text-link {
  color: var(--gray);
  font-size: var(--font_16);
  font-family: var(--noto);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline solid 2px;
  color: black;
  transition: 0.3s;
}

.head-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  position: relative;
}

.head-image-container img {
  width: 100%;
  height: 591px;
  align-self: stretch;
}

.head-letter {
  position: absolute;
  right: 49px;
  bottom: 55px;
  font-size: var(--font_70);
  font-family: var(--noto);
  color: var(--ivory);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.head-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  position: relative;
}

.head-image-container img {
  width: 100%;
  height: 591px;
  align-self: stretch;
}

.head-letter {
  position: absolute;
  right: 49px;
  bottom: 55px;
  font-size: var(--font_70);
  font-family: var(--noto);
  color: var(--ivory);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-us-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 1134px;
  flex-direction: column;
  gap: 140px;
}

.about-will-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.container-title {
  color: #232323;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.about-will-text {
  align-self: stretch;
  color: var(--gray, #535353);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 129.945%; /* = 46.78px */
  letter-spacing: 3.24px;
}

.vision-container,
.goal-container {
  text-align: center;
}

.vision-text-container,
.goal-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vision-text-box,
.goal-text-box {
  background: var(--shinonome);
  border-radius: 12px;
  padding: 32px 56px;
}

.vision-text,
.goal-text {
  color: white;
  text-align: center;
  align-self: stretch;
  font-family: var(--noto);
  font-size: var(--font_32);
  font-style: normal;
  font-weight: 400;
  line-height: 129.945%;
  letter-spacing: 3.24px;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列構成 */
  gap: 80px 64px;
  justify-content: center;
  align-items: center; /* 🔸ここで"縦方向の中央揃え"に */
}

.chart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 422px;
  height: 326px;
}

.chart-title {
  font-size: var(--font_24);
  font-weight: bold;
  color: var(--gray);
  margin-bottom: 28px;
  text-align: center;
  width: 100%;
}

.chart-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 28px;
  width: 100%;
  height: 100%;
}

canvas {
  width: 266px !important;
  height: 266px !important;
}

.chart-legend {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--font_16);
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--gray);
}

.chart-legend li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legend-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 768px) {
  .chart-grid {
    grid-template-columns: 1fr;
    gap: 48px;
  }
}
.legend-color.male {
  background-color: #6d9ea8;
}
.legend-color.female {
  background-color: #f7c76f;
}
.legend-color.fourth {
  background-color: #f39ca8;
}
.legend-color.third {
  background-color: #a8d6cc;
}
.legend-color.second {
  background-color: #f7c76f;
}
.legend-color.first {
  background-color: #9fb8d2;
}
.legend-color.waseda {
  background-color: #6d9ea8;
}
.legend-color.other {
  background-color: #f7c76f;
}
.legend-color.sci {
  background-color: #f39ca8;
}
.legend-color.hum {
  background-color: #a8d6cc;
}
.legend-color.edu {
  background-color: #f7c76f;
}
.legend-color.com {
  background-color: #9fb8d2;
}

.link-playground-hp-container {
  text-align: right;
}

.link-playground-hp-square {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: var(--shinonome);
}

.link-playground-hp-square:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top {
  display: flex;
  padding: 90px 0px 100px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background-color: var(--ivory);
}

.footer-sm-logo {
  display: flex;
  align-items: center;
  gap: 43px;
}

.x-logo {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.x-logo img {
  width: 42px;
  height: 42px;
}

.instagram-logo {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.instagram-logo img {
  width: 56px;
  height: 56px;
}

.footer-logo {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
}

.footer-copyright {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.footer-copyright img {
  background-color: var(--ivory);
}

.copyright-text {
  color: var(--gray);
  font-family: var(--times-new-roman);
  font-size: var(--font_18);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}
